node_modules
.env

# Hardhat files
/cache
artifacts
.deps

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat/Foundry ignition folders for deployments against a local node
ignition/deployments/chain-31337
ignition/deployments/chain-31338
